<div class="container well margin-top-20 small-container">

	<%= form_for @student do |f| %>
	
	<div class="bold margin-top-20">
		Student name
	</div>
	<div class="margin-top-20">
		<%= f.text_field :name %>
	</div>
	<div class="bold margin-top-20">
		Student Email
	</div>
	<div class="margin-top-20">
		<%= f.text_field :email %>
	</div>
		<div class="bold margin-top-20">
		Age
	</div>
	<div class="margin-top-20">
		<%= f.text_field :age %>
	</div>
	
	<div class="margin-top-20">
		<a href="/students" class="btn btn-default">Cancel</a>
	
		<button type="submit" class="btn btn-success">Save</button>
	</div>
	<% end %>
	
</div>



